#overlay-menu {
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 44px;
  right: 0;
  transition: 0.4s ease-in-out;
  overflow: hidden;

  .content {
    width: 60%;
    height: calc(100vh - 44px);
    min-height: 675px;
    margin-left: 40%;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -299px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 300px calc(100vh - 44px) 0;
      border-color: transparent #fff transparent transparent;
    }
  }
}

.list-nav {
  width: 100%;
  display: flex;
  align-items: start;

  .vague {
    transform: rotate(270deg);
    width: 188px;
    height: 32px;
    margin-top: 159px;
  }
}

.main-menu {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Cabin",sans-serif;

  .menu-item {
    position: relative;
    color: #000;
    text-decoration: none;
    list-style-type: none;
    line-height: 5rem;
  }
}

.subMenu {
  overflow: hidden;
  display: flow-root;
  margin-left: 55px !important;
  margin-top: -5px !important;
  -webkit-transition: all .5s ease-out;
  list-style-position: inside;

  .subMenu-item {
    line-height: 4rem;
    list-style: inside;
    color: #9d9d9d;
  }
}