header {
  position: relative;
  height: calc(100vh - 44px);
  margin-bottom: 30px;
  min-height: 800px;
}

.banner {
  margin: 0 44px 0;
  background: #f9eee1;
  height: calc(100% - 44px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 88px);
  flex-direction: column;
  text-align: center;
  background-size: cover;
}

.elem-center {
  position: relative;
  width: 370px;

  .logo {
    width: 100%;
    margin-top: 0;

    img {
      vertical-align: bottom;
      max-width: 100%;
      height: auto;
    }
  }

  .list {
    position: absolute;
    top: calc(50% - 93.5px);
    left: calc(100% + 25px);
    width: 100%;
    text-align: left;

    li {
      line-height: 1.3;
      list-style-type: none;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: "Cabin",sans-serif;
      text-decoration: none;
      color: #000;
    }
  }
}

.bot {
  height: 44px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-style: italic;

  h1 {
    font-weight: 600;
    font-size: 2.4rem;
    font-family: "Cabin",sans-serif;
  }
}

h2 {
  padding: 5px 0 30px 5px;
  line-height: .8;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Cabin",sans-serif;
  font-weight: 700;
  font-size: 5.6rem;
}

#acc-projet .container {
  position: relative;

  h2 {
    transform-origin: top left;
    transform: rotate(-90deg);
    position: absolute;
    top: 355px;
    left: 305px;
    z-index: 4;

    &.reversed {
      display: inline-block;
      color: #fff;
      background-color: #000;
    }

    &::after {
      display: inline-block;
      content: "";
      background-color: #fff;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      margin-right: 35px;
      margin-left: 5px;
    }
  }
}

.container {
  width: 1155px;
  margin: auto;
}